doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            block content
            input(type="text", name="" placdholder="Whats your name")
            button asad
    include partials/footer.pug